<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
			<h1>Zhi Rong Tan</h1>

	    		<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/analytics">Analytics</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/exp">Experiences</a></li>
            <li><a href="/acad">Education</a></li>
            <li><a target="_blank" href="https://tanzhirong.wixsite.com/photography">Photos</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tanzhirong.uc@gmail.com">E-mail</a></li>
				<li><a href="https://www.linkedin.com/in/zhi-rong-tan-9635b9a5/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
